.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

.grid-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.1);
}