
<h1 class="Encabezado">Imagenes</h1>
<div class="Imagens-Container">
    <img class="imagen" src="images/Test.gif" alt="GIF saludo" width="250" />
    <br>
    <img class="imagen" src="images/Test.gif" alt="GIF saludo" width="250" />
    <br>
    <img class="imagen" src="images/Test.gif" alt="GIF saludo" loading="lazy" width="250" />
    <br>
    <img class="imagen" src="images/Test.gif" alt="GIF saludo" loading="lazy" width="250" />
    <br>
    <img class="imagen" src="images/Test.gif" alt="GIF saludo" loading="lazy" width="250" />

</div>

